NumberGuessGameServiceApp/Connected Services/ServiceReference1/NumberGameGuessService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SecretNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lower" type="xs:int" />
        <xs:element minOccurs="0" name="upper" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SecretNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SecretNumberResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userNum" type="xs:int" />
        <xs:element minOccurs="0" name="secretNum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckNumberResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>