NumberGuessGameServiceApp/Connected Services/ServiceReference1/NumberGuessGame.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NumberGuessGame" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:18204/NumberGameGuessService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:18204/NumberGameGuessService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INumberGameGuessService_SecretNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:SecretNumber" />
  </wsdl:message>
  <wsdl:message name="INumberGameGuessService_SecretNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:SecretNumberResponse" />
  </wsdl:message>
  <wsdl:message name="INumberGameGuessService_CheckNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckNumber" />
  </wsdl:message>
  <wsdl:message name="INumberGameGuessService_CheckNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckNumberResponse" />
  </wsdl:message>
  <wsdl:portType name="INumberGameGuessService">
    <wsdl:operation name="SecretNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/INumberGameGuessService/SecretNumber" message="tns:INumberGameGuessService_SecretNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INumberGameGuessService/SecretNumberResponse" message="tns:INumberGameGuessService_SecretNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/INumberGameGuessService/CheckNumber" message="tns:INumberGameGuessService_CheckNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INumberGameGuessService/CheckNumberResponse" message="tns:INumberGameGuessService_CheckNumber_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INumberGameGuessService" type="tns:INumberGameGuessService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SecretNumber">
      <soap:operation soapAction="http://tempuri.org/INumberGameGuessService/SecretNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckNumber">
      <soap:operation soapAction="http://tempuri.org/INumberGameGuessService/CheckNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NumberGuessGame">
    <wsdl:port name="BasicHttpBinding_INumberGameGuessService" binding="tns:BasicHttpBinding_INumberGameGuessService">
      <soap:address location="http://localhost:18204/NumberGameGuessService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>